
:root{
  --border:1px solid rgba(0,0,0,0.8);
  --borderwhite:1px solid white;
  --background:white;
}
body{
  height:100vh;
  width:100%;
  BACKGROUND:BLACK;
  COLOR:WHITE;
  overflow:hidden;
  position:relative;
}
#render{
display:grid;
grid-template-columns:repeat(3,1fr);
grid-template-rows:95vh;
position: relative;
z-index: 3;
}

#tools{
  grid-area:2/1/3/4;
}

.center,.right,.left{
  display:flex;
  flex-direction:column;
  height:0%;
  transition: 2s;
}
.centerstart,.rightstart,.leftstart{
  height:106%;
  transition: 2s;
}
#tbody::-webkit-scrollbar,#settings::-webkit-scrollbar,#ReadySectionsInner::-webkit-scrollbar,#dropzone::-webkit-scrollbar {
  display: none;
}
#centerup{
  /*flex:2em;*/
  /*border:var(--border);*/
}
.centerdown,.rightdown,.leftdown{
  flex:9em;
  /*border:var(--border);*/
  background:rgba(0,0,0,0.5);
}


.boundary{
  /*border:var(--border);*/
}
.header{
  text-align:center;
  padding:30px 0px;
  font-size: 30px;
  font-weight: 600;
  /*border:var(--border);*/
  background: rgba(0,0,0,0.5);
  /*margin-bottom: 20px;*/
  color:white;
}

.body{
  position:relative;
  /*height: 80vh;*/
}
.body >div{
  /* padding: 0px 20px; */
margin: 20px 20px;
position: absolute;
top: 0%;
bottom: 0%;
left: 0%;
right: 0%;
background: rgb(232 230 234 / 18%);
overflow: hidden;
}
.whiteborder{
  border: var(--borderwhite);
}
/*components*/
/*components*/
/*components*/
section{
  margin:5px;
  background:var(--background);
}

#Header{
  height: 100px;
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
}
#Header-inner{
  border: 1px solid black;
  margin: 10px;
  background-image: url(../placeholder.png);
  width: 25%;
  background-size: cover;
  background-position: center;
}
#HeaderTwoLogos{
  height: 100px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
#Header-left,#Header-right{
  border: 1px solid black;
  margin: 10px;
  background-image: url(../placeholder.png);
  width: 25%;
  background-size: cover;
  background-position: center;
}

#FullWidthBanner{
  height: 100px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.FullWidthBanner{
  height: auto;
  width: 100%;
  padding: 20px;
}

.FullWidthBanner>div{
  border: 1px solid black;
  height: 100%;
  background-image: url(../placeholder.png);
  background-position: center;
}
.FullWidthContent>div{
  border: 1px solid black;
  height: 100px;
  background-image: url(../placeholder.png);
  background-position: center;
}
#FullWidthContent > div:nth-child(2){
  text-align: center;
padding: 15px;
}
.sectionwords{
  height: 60px;
display: flex;
justify-content: center;
align-items: center;
}

#ImageLeft,#ImageRight{
  height: 100px;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}
.ImageLeft,.ImageRight{
flex:2em;
}
.ImageLeft-left,.ImageRight-left{
  height: 100%;
  background-image: url(../placeholder.png);
  background-position: center;
}
p{
  padding:0px;
  margin:0px;
}
.ImageLeft-right,.ImageRight-right{
  display:flex;
  justify-content: center;
  align-items: center;
  color:black;
}
.ImageLeft-right  p:nth-child(1,.ImageRight-right  p:nth-child(1)){
  margin-top: 5px;
 font-size: 1.1em;
}
.ImageLeft-right  p:nth-child(2),.ImageRight-right  p:nth-child(2){
  font-size: 0.9em;
    padding: 3px;
}
.ImageLeft-right > p:nth-child(3),.ImageRight-right  p:nth-child(3){
  font-size: 0.9em;
    background: #17a2b8;
    color: white;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

.b{
    border: 1px solid black;
}



/*custom background*/
/*custom background*/
/*custom background*/
/*custom background*/
/*custom background*/
/*custom background*/
/*custom background*/

#background{
  height:100%;
  width:100%;
      margin: 1% 1%;
  /*background:#6edca9;*/
  display:grid;
  grid-template-rows:repeat(auto-fill, minmax(100px, 100px));
  grid-template-columns:repeat(auto-fill, minmax(100px, 100px));
  border:1px solid black;
  position:relative;
}

#background{
position: absolute;
top: 0%;
bottom: 0%;
left: 0%;
right: 0%;
}
.aborder{
    border:1px solid black;
    padding:10px;
}
table{
  height:100%;
  width:100%;
  font-size: 1em;
  color: white;
}
th{
  font-size: 1em;
    color: white;
}
td{
/*border:1px solid white;*/
}

td,th{
  padding: 20px !important;
}
input{
  background:transparent;
  border:none;
}
::placeholder {
  color: white;
}

.Groupwords{
  display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}
.Gimage{
background-size: contain;
height: 100px;
width: 100%;
background-image: url(../placeholder.png);
background-position: center;
}
div[class^="Groupwords-"]{
  width: 33%;
padding: 5px;
}
.groupp p {
  font-size: 10px;
margin: 5px;
}
.groupp{
  text-align:center;

}

.Contactwords{
  background:#191313;

}
.Contactwords-heading{
  margin-left: 10%;
padding: 10px 0px;
color: white;
}
.Contactwords form input,.Contactwords form textarea{
  width: 80%;
    margin: 3px 10%;
    background-color: white;
    font-size: 10px;
}
.Contactwords form ::placeholder {
color:black;
}
.formbutton{
  background: #c12e64 !important;
  padding: 3px !important;
  margin-bottom: 10px !important;
  font-size: 10px !important;
  margin-left: 10% !important;
}
.btn {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    font-size: 10px;
    padding: 2px !important;
    margin: 0px;
    margin-bottom: 10px;
}
.fa{
    display: inline;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    height: 30px;
    color:white;
    margin: 2px;
    width: 30px;
    background: #c12e64;
    padding: 7px;
    border-radius: 50px;
}
.Footerwords{
  padding: 15px;
}
.Footerwords-down{
  text-align: center;
  padding: 10px;
}
.Footerwords-up{
  font-size: 9px;
    text-align: center;
}
.Footerwords-up  p {
  margin:0px;
}



a:focus,a:hover {
   color: #000 !important;
   text-decoration: underline;
}

section{
  position:relative;
}
.accident{
  position: absolute;
  height: 20px;
  width: 20px;
  background: #c12e64;
  border-radius: 20px;
  top: -6%;
  right: 0%;
  justify-content: center;
  color: white;
}

#ReadySectionsInner section .accident,#dropzone section .accident{
  display: none;
}

#dropzone section:hover .accident{
  display: flex;
}
