.updatebar{
  height: 10vh;
  display:flex;
}
#trackbutton{
background: transparent;
color: white;
border: 1px white solid;
padding: 5px;
}

body{
/*  padding: 20px;*/
--black:black;
--white:white;
background:black !important;
overflow:hidden;
}

.canvasbox {
  border-radius: 3px;
  margin-right: 10px;
  width: 200px;
  height: 200px;
  border-bottom: 3px solid #0063FF;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
  background: #333;

  position:absolute;
  top:2%;
  right:0%;

}
.mb10 {
  display:flex;
  margin-bottom: 10px;

}

.mt10 {
  margin-top: 10px;
  flex: 2;
}
.updatenote {
  padding: 10px;
  background: rgb(245, 147, 20);
  color: white;
  display: inline;
}
#myvideo{
  display:none;
}
.dragndrop{
  height: 75vh;
  width:100vw;
  background:var(--black);
  display:grid;
  grid-template-columns: 30% 10% 60%;
  grid-template-rows: repeat(5,1fr);
  grid-template-areas:
   'body end . '
   'body end . '
   'body end . '
   'body end . '
   'body end . '
   'svg svg svg';
}
.box1{
  background:black;
  color:white;
  border-bottom:1px var(--white) solid;
  border-top:0px var(--white) solid;
}
.box2{
  display:flex;
  flex-direction: column;
  border-bottom:1px var(--white) solid;
  border-top:0px var(--white) solid;
  border-right:1px var(--white) solid;
}
div[class^="sec"]{
  flex:2;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 2px var(--black) solid;
  border-radius: 5px;
}

#test{
  display:flex;
  justify-content: center;
  align-items: center;
}
#svgmappingcontainer{
  position: absolute;
      top: 10vh;
      background: rgba(0,0,0,0.1);
      width: 100vw;
      height: 75vh;
}
#svgmapping{
height: inherit;
width: 100%;
}
.box1{
  display:flex;
  flex-direction:columns;
}
.box1left{
  flex:2;
  margin-top: 10px;
}
#block1>div:nth-child(2){
flex:2;
background-image:url("https://m.media-amazon.com/images/M/MV5BNTM4YThiMzktMDRlNi00NzAyLWI1YmQtNTdkMTNiN2Q0NzU1XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg");
background-size:cover;
background-position: top;
background-repeat: no-repeat;
  }
#block2>div:nth-child(2){
flex:2;
background-image:url("https://m.media-amazon.com/images/M/MV5BMTY3NTk5Mzg5OV5BMl5BanBnXkFtZTgwNDgyMjQyNjM@._V1_SX300.jp");
background-size:cover;
background-position: top;
background-repeat: no-repeat;
  }
#block3>div:nth-child(2){
flex:2;
background-image:url("https://m.media-amazon.com/images/M/MV5BMTU5NjQ2MTU4NV5BMl5BanBnXkFtZTgwOTYyNTAwNzM@._V1_SX300.jp");
background-size:cover;
background-position: top;
background-repeat: no-repeat;
}
#block4>div:nth-child(2){
flex:2;
background-image:url("https://m.media-amazon.com/images/M/MV5BNzVkYWY4NzYtMWFlZi00YzkwLThhZDItZjcxYTU4ZTMzMDZmXkEyXkFqcGdeQXVyODUxOTU0OTg@._V1_SX300.jpg");
background-size:cover;
background-position: top;
background-repeat: no-repeat;
}
#block5>div:nth-child(2){
flex:2;
background-image:url("https://m.media-amazon.com/images/M/MV5BOGIxMzE1MTEtMzViYi00MWI5LTllOTUtMmZkYzM3NmIyNTZlXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg");
background-size:cover;
background-position: top;
background-repeat: no-repeat;
  }

.box1inner{
  background:pink;
  width:100%;
}
.glyphicon{
  font-size:3em;
  color:white;
}



#block1 > div.box1left > div{
  width:0%;
  background:rgba(245, 147, 20,0.5);
  height:100%;
}
#block2 > div.box1left > div{
  background:rgba(245, 147, 20,0.5);
  width:0%;
  height:100%;
}
#block3 > div.box1left > div{
  background:rgba(245, 147, 20,0.5);
  width:0%;
  height:100%;
}
#block4 > div.box1left > div{
  background:rgba(245, 147, 20,0.5);
  width:0%;
  height:100%;
}
#block5 > div.box1left > div{
  background:rgba(245, 147, 20,0.5);
  width:0%;
  height:100%;
}
