#show {
    position: relative;
    display: flex;
    justify-content: center;

    video{
        width: 90%;
        height: auto;
    }
}
#countdown {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 3em;
    color: white;
}