

.profile{
    display:grid;
    grid-template-columns:30% 70%;
    width:inherit;
    border:1px solid black;
    margin: 2em 1em;

    .profile-image{
        height:100px;
        width:100%;

        .profile-name{
            width:100%;
            height:100%;
            background-size: contain;
            background-repeat: no-repeat;
        }
        img{
            height:auto;
            width:100px;
        }

    }
    .score-group{
        height:100%;
        width:100%;
        display: grid;
        grid-template-areas: 'ent color score del'
                              'ent color scored del';
        grid-template-columns: 20% 20% 40% 20%;

        
        .profile-enter{
            display: grid;
            grid-area: ent;
        }
        .profile-color{
            display: grid;
            grid-area: color;
        }
        .profile-scored{
            display: grid;
            grid-area: score;
            
        }
        .profile-scored{
            display: grid;
            grid-area: scored;
            
        }
        .profile-del{
            display: grid;
            grid-area: del;
            
        }
    }
}

.profile-add{
    display: flex;
    justify-content: center;
    min-height: 50px;
    align-items: center;

    div{
        padding-left: 10px;
    }
}
input,.input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    height: 100%;
    font-size: 1em;
    border:none;
}